body {
    background-color: rgb(1, 1, 41);
    color: white;
    font-family: 'Poppins';

}

nav {
    display: flex;
    background-color: rgb(3, 3, 85);
    color: white;
    justify-content: space-around;
    align-items: center;
    height: 70px;
}

.left{
    font-size: 1.4rem;
}

nav ul {
    display: flex;
    justify-content: center;
}

nav ul li {
    list-style: none;
    margin: 0 23px;
}

li a {
    text-decoration: none;
    color: white;
}


.first {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 80px 0;
}


.leftSec{
    width: 50%;
    font-size: 2.5rem;
    margin: auto 0;
    padding: 0 100px;
}

.rightSec {
    width: 50%;
}

.rightSec img{
    height: auto;
    width: 400px;
    margin:0px 0;
    padding-right: 88px;
}
    
.second{
    max-width: 80vw;
    margin:auto;
    padding: 20px 0;
    min-height: 30vw;
}

.third{
    max-width: 80vw;
    margin:auto;
    padding: 20px 0;
    height: 30vw;
}

#horizontalSec{
    width: 80vw;
    height: 3px;
    background-color: white;
    margin: 55px 0;
    display: flex;
}

.vertical{
    height: 90px;
    width: 1px;
    background-color: white;
    margin: 0 200px;
}

.title{
    position: relative;
    width: 150px;
    top: 60px;
    left: 7px;
}

.desc{
    position: relative;
    width: 150px;
    top: 80px;
    left: 7px;
    font-size: 14px;
    color: gray;

}

.title2{ 
    position: relative;
    width: 150px;
    right: 195px;
    top: 90px;

}


.desc2{
    position: relative;
    right: 280px;
    font-size: 14px;
    color: gray;
    top: 150px;
}

footer{
    display: flex;
    height: 50px;
    background-color: rgb(3, 3, 85);
    align-items: center;
    justify-content: center;
}

@media screen and (max-width:720px) {
    .first {
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
        /* background-color: yellow; */
    }
}