body {
    background-color: rgb(1, 1, 41);
    color: white;
    font-family: 'Poppins';

}

nav {
    display: flex;
    background-color: rgb(3, 3, 85);
    color: white;
    justify-content: space-around;
    align-items: center;
    height: 70px;
}

.left{
    font-size: 1.4rem;
}

nav ul {
    display: flex;
    justify-content: center;
}

nav ul li {
    list-style: none;
    margin: 0 23px;
}

li a {
    text-decoration: none;
    color: white;
}

li a:hover {
    color: rgb(203, 203, 243);
    font-size: 1.02rem;
}

.first {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 110px 0;
}

.leftSec{
    font-size: 2.5rem;
}

.buttons .btn{
    background-color: rgb(106, 96, 126);
    color: white;
    border-radius: 15px;
    padding: 10px 30px;
    font-size: 15px;
}

.purple{
    color: rgb(226, 165, 235)
}

#element{
    color: rgb(226, 165, 235);
}

.rightSec img{
    margin:0px 0;
}

hr{
    border: none;
    height: 2px;
    background-color: rgb(129, 120, 138);
    margin: auto;
    width: 80vw;
    padding: 2px 0;
}

.second{
    max-width: 80vw;
    margin:auto;
    padding: 20px 0;
}